<!-- Main Logo -->
<div [ngClass]="logovar">
  <a href="/streamguess">
      <img class="logo" src="assets/images/StreamGuess.svg"/>
  </a>
</div>

<!-- Play button -->
<div *ngIf="start === true" class="playcont">
    <button (click) = "runGame()">
        Play
    </button>
</div>
<!-- Game Container -->
<div *ngIf="start === false" class="gamecont">
<!-- If the game is not finished, show main container -->
<div *ngIf="isFin === false" class='main'>
<!-- Score card -->
<md-card>
            <div class="scoreboard">
            <span class="scoreinfo">Clips Left: {{testClips.length}}</span>
            <span class="scoreinfo">Score: {{score}}</span>
            </div>

</md-card>
<!-- HR changes color depending on if player got answer correctly -->
<hr [ngClass]="scorecolor">
<!-- Video card -->
<md-card>

<video [src]="theLink" type="video/mp4" (load)="fakeAns(randStreamer())" width="100%" controls>
                Your browser does not support the video tag.
</video>
            <!-- Answer buttons -->
            <button class="ansbuts" *ngFor="let but of fakeStreamers" (click)="onSelect(but)">
                {{but}}
            </button>


</md-card>
</div>
    <!-- If the game is finished, show the end screen -->
    <div *ngIf="isFin === true">
        <md-card>
            <h1 class="finaltext">Congrats! You Scored:</h1>
            <h1 class="finalscore">{{score}}</h1>
        </md-card>

        <div class="playcont">
        <a href="/streamguess">
        <button>
            Play Again
        </button>
        </a>
        </div>

    </div>

</div>






