<div Class="smalllogobar">
  <a href="/streamguess">
      <img class="logo" src="assets/images/StreamGuess.svg"/>
  </a>
</div>

<div class="infocont">
<div class="row inforow">
    <h3 class="infotitles">What is this?</h3>
    <p class="infotext">Stream Guess is a simple game where you are given a clip from popular streamers and you need to guess which streamer it is from the options provided.</p><br>
    <p class="infotext">Stream Guess not only provides a way for stream fans to test their knowledge, but it allows you to discover new streamers too!</p>
</div>
<div class="row inforow">
    <h3 class="infotitles">How is this made?</h3>
    <p class="infotext">This site is written using Angular 4, HTML5, and CSS3 with a REST API backend providing the data.</p><br>
    <p class="infotext">Stream clips and data are being queried from the Twitch API and stored on server. The clips are being constructed from data parsed from the API because I wanted to display the raw clips without any context to provide a more enganging and fun experience that was harder to guess.</p>
</div>
<div class="row inforow">
    <h3 class="infotitles">Who made this?</h3>
    <p class="infotext">My name is James Mete.</p><br>
    <p class="infotext">I love to design, code, and meme while watching hilarious streams. I hope you all enjoy this project and have some fun. If you have any questions feel free to contact me!</p>
</div>
<div class="row inforow">
    <h3 class="infotitles">Contact</h3>
    <a href="http://www.jamesmete.com"><h5 class="infotext contactz">www.jamesmete.com</h5></a><br>
    <p class="infotext socials">
        <a href="https://twitter.com/Jmete"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/jmete/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/jpmete/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/JamesMete"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.twitch.tv/vyprix"><i class="fa fa-twitch fa-2x" aria-hidden="true"></i></a>

    </p>
</div>

</div>
