<div class="topbar">
    <a (click)="switch()" *ngIf="info" routerLink="./info" routerLinkActive="active">Info</a>
    <a (click)="switch()" *ngIf="!info" routerLink="./" routerLinkActive="active">Close Info</a>
</div>

<!-- <a routerLink="/info">Info</a>
<a routerLink="/game"  (activate)="runGame()">Game</a>
<br>-->
<router-outlet></router-outlet>
<!-- <app-game></app-game> -->
<div style="text-align: center; opacity: 0.7; margin-top:40px;">
    <a style="text-decoration: none;" href="http://www.jamesmete.com">
        &copy; James Mete 2017
    </a>
</div>


